body { background-color: paleturquoise; }

#sensational {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: red;
    font-weight: bold;

    max-width: 90%;
    background-color: thistle;
    border-radius: 15%;
}
#sensational.p {
    font-f
    font-size: 18px;
    color: purple;
}